*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .upper-one{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
  }
  .tasks{
    width: 35%;
    height: 100%;
    padding-top: 20px;
  }
  #hii{
    font-weight: bold;
    font-size: 2.5rem;
  }
  #hello{
    font-size: 2.5rem;
    margin-left: 10px;
    opacity: 0.5;
  }
  .upper-two{
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  #list{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 30px;
    opacity: 0.5;
    padding-top: 25px;
  }
  .card1{
    margin-top: 10px;
    margin-left: 245px;
    border: 1.5px solid red;
    height: 45vh;
    width: 15%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    position: relative;
  }
  .div1{
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: red;
    border-bottom: 1px solid grey;
  }
  .div2{
    width: 90%;
    height: 10%;
    font-size: 20px;
    color: red;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
  }
  .div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    text-align: left;
    font-size: 20px;
  }
  #check{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .card2{
    margin-top: 3px;
    margin-left: 3px;
    border: 1.5px solid red;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
  }
  .card3{
    margin-top: 3px;
    margin-right: 150px;
    border: 1.5px solid red;
    height: 45vh;
    width: 15%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
  }
  .row{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .second{
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
    border-top-left-radius: 2px solid grey;
  }